<!DOCTYPE html>
<html>
    <head>
        <title>Nithya careers</title>
        <style>
            h1 
            {
                font-size: 40px;
                font-family: Roboto;
                font-weight: normal;
                text-align: center;
            }
            #banner
            {
                width: 90%;
                height: 360px;
                display: block;
            }
            body {
        margin: 0;
        padding: 0;
    }
        </style>
    </head>
    <body>
        <h1>Nithya careers</h1>
        <img id="banner" src="https://t4.ftcdn.net/jpg/01/29/04/55/360_F_129045532_LKIimef1qbMzpZtoD0eIEVFLjHRhA1DM.jpg" style="display: block; margin: auto;">
        <h2> About Nithya</h2>
        <p>You’re in your fourth year of studies and currently looking for a job. 
            You’re interested in CSE (AIML) domains and ask about their future scope. 
            You’ve been working with C, Java, networking (Cisco Packet Tracer), GitHub, and HTML.
            You sometimes ask about physics projects and mentioned preparing for an exam in advanced quantum mechanics (things like tunneling, potential wells, laser physics, etc.).
            You joined a club recently and are hoping to gain experience through it.
            You like practical step-by-step guidance (especially for coding and simulation tools).
            One of your friends studies at VIT.</p>
    </body>
    <h2 text-align: >Positions looking for</h2>
    <p>Jobs preferred</p>
    <button>Contact me</button>
</html>