<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nithya careers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <h1>Nithya careers</h1>
        <img class= "img-fluid" src="https://t4.ftcdn.net/jpg/01/29/04/55/360_F_129045532_LKIimef1qbMzpZtoD0eIEVFLjHRhA1DM.jpg" ">
        <h2> About Nithya</h2>
        <p>You’re in your fourth year of studies and currently looking for a job. 
            You’re interested in CSE (AIML) domains and ask about their future scope. 
            You’ve been working with C, Java, networking (Cisco Packet Tracer), GitHub, and HTML.
            You sometimes ask about physics projects and mentioned preparing for an exam in advanced quantum mechanics (things like tunneling, potential wells, laser physics, etc.).
            You joined a club recently and are hoping to gain experience through it.
            You like practical step-by-step guidance (especially for coding and simulation tools).
            One of your friends studies at VIT.</p>
        
    
        <h2 text-align: >Positions looking for</h2>
        <p>Jobs preferred</p>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-sm">Contact me</button>
            <p>Copyright,2025</p> 
        </div>
        
        </div>
    </body>
</html>